all:
  children:
    cisco:
      hosts:
        rtr1:
          ansible_host: 10.254.{{ pod_id }}.11
        rtr2:
          ansible_host: 10.254.{{ pod_id }}.12
      vars:
        ansible_user: cisco
        ansible_password: cisco
        ansible_network_os: ios
        ansible_connection: network_cli
